.privacy-section {
  padding: 80px 0;
}

.privacy-content {
  max-width: 900px;
}

.privacy-content h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #222;
}

.privacy-content p {
  font-size: 15px;
  color: #555;
  line-height: 1.7;
}
