.treatments-page {
  padding: 80px 0;
}

.page-title {
  font-size: 36px;
  margin-bottom: 50px;
  text-align: center;
}

.page-subtitle {
  text-align: center;
  max-width: 700px;
  margin: 15px auto 0;
  color: #555;
  font-size: 17px;
}


.treatment-row {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
  align-items: center;
}

.treatment-row img {
  width: 380px;
  height: 260px;
  object-fit: cover;
  border-radius: 18px;
}

.treatment-content h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

.treatment-content p {
  font-size: 14px;   
  line-height: 1.6;
  max-width: 600px;
}



.treatment-row:nth-child(even) {
  flex-direction: row-reverse;
}


@media (max-width: 768px) {
  .treatment-row {
    flex-direction: column;
    text-align: center;
  }

  .treatment-row img {
    width: 100%;
    height: auto;
  }
}

