.why-choose {
  padding: 70px 0;
  background: #f9faff;
}

.section-title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 50px;
  color: #222;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.why-card {
  background: #ffffff;
  padding: 30px 20px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.why-card:hover {
  transform: translateY(-5px);
}

.why-card h4 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 12px;
  color: #333;
}

.why-card p {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}


@media (max-width: 992px) {
  .why-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .why-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .why-grid {
    grid-template-columns: 1fr;
  }
}

